body{
    background-color: #ffa02c6d;
    /* background-image: url(https://iili.io/H984En2.md.jpg);
    background-image: url(https://iili.io/H988kRR.md.jpg); */
    background-image: url(https://iili.io/H980rYu.jpg);
    background-size: cover;
    margin-bottom: 3rem;
}
.account{
    background: linear-gradient(45deg,#ee0979,#ff6a00);
    color: white;
    box-shadow: 1px 1px 5px black;
}

.account:hover{
    box-shadow: 2px 2px 10px black;
}

.account-details-header{
    background: linear-gradient(45deg,#ee0978,#ff6a00);
    color: white;
}

.account-balance{
    font-size: 2em;
    margin: 0px;
}

.account-link{
    text-decoration: none;
}

.credit-transaction{
    color: green;
}

.debit-transaction{
   color: red;
}

.credit{
    background: linear-gradient(45deg,#ee09cf,#0026ff);
    color: white;
}

.menu-logo{
    width: 2.7rem;

}

.welcome{
    /* background-image: url(https://iili.io/H988kRR.md.jpg); */
    /* background: linear-gradient(to bottom, #c19a6b56 0%, #cac1b662 100%), url(https://iili.io/H988kRR.md.jpg);; */
    background-image: url(https://iili.io/H984En2.md.jpg);
    background-size: cover;
    color: white;
}

.welcome-logo{
    width: 30%;
}

.index-body{
    background-image: url(https://iili.io/H980rYu.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.index-container{
    margin-top: 10%;
}
.bg-color{
    background-color: #eee;
}